*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.navbar-nav li a{
    color: white;
}
.navbar-nav li a{
    margin-right: 10px;
    margin-left: 10px;
}
.navbar-nav li a:hover{
    background-color: #2ca662;
    color: white;
    border-radius: 5px; 
}
.header-bg{
    border-top: 5px solid #2ca662;
    background-color: #280000;
    height: 650px;
}
.top-bg{
    background-color: #280000;
}
.actives{
    background-color: #2ca662;
    border-radius: 5px;
}
.carousel-item{
    padding: 2% 13%;
}
.carousel-item h1{
    font-size: 50px;
}
.text{
    color: white;
}
.rounded-circle{
    border: 20px solid lightblue;
}
.read-more{
    background-color: #3af878;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
}
.read-more:hover{
    background-color: #16f05d;
}
.box1, .box2, .box3, .box4{
    padding: 20px 50px;
    background-color: white;
}
.service .box1, .box2, .box3, .box4{
    margin-top: 60px;
    margin-bottom: 70px;
}
.box1:hover, .box2:hover, .box3:hover, .box4:hover{
    padding: 20px 50px;
    background-color: #16f05d;
    color: white;
    transition: all 2s ease;
}
.service{
    color: #353535;
    text-align: center;
    border-bottom: 2px solid #353535;
}
.service p{
    text-align: justify;
}
.row img{
    width: 100%;
}
.latest-work h1{
    background: gray;
    width: 25%;
    text-align: center;
    border-radius: 10px;
    margin-top: -25px;
    margin-bottom: 40px;
    text-transform: uppercase;
    margin-left: 40%;
    color: white;
}
.card-bg{
    background-color: #660000;
    height: 1200px;
}
.box{
    border: 5px solid white;
}  
.box:hover{
    border: 5px solid #16f05d;
}
.box img{
    width: 100%;
}
.box h6{
    color: white;
    text-align: center;
    background-color: #151515;
    padding: 10px;
    margin-bottom: 0;
}
.main-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 25px;
}
.from{
    padding: 10px;
    margin-bottom: 5px;
    background-color: #222222;
    border: none;
}
.from-m{
    margin-bottom: 5px;
    background-color: #222222;
    border: none;
    height: 100px;
}
.footer-top-bg{
    background-color: #303030;
    border-bottom: 2px solid #222222;
}
.footer-top h5{
margin-top: 30px;
color: gainsboro;
}
.read{
    border: none;
    background-color: #303030;
    color: #2ca662;
}
.link-item li{
    padding: 5px;
    
}
.link-item ul li{
    border-bottom: 1px solid gray;
    padding-top: 3px;
    color: #2ca662;
}
.footer-top{
    margin-bottom: 50px;
}
.footer-top .row{
    color: gray;
}
.footer-bg{
    background-color: #303030;
}
footer .row p{
    margin-top: 20px;
    color: gray;
}
.color-text{
    color: yellowgreen;
}